.home-div{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}
.top-div{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-color);
}   
.top-div input{
    width: 50%;
    height: 40%;
    border-radius: 7px;
    border: 1px solid var(--border-color);
    padding-left: 1rem;
}
.feed-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
    width: 100vw;
    /* padding-left: 5px;
    padding-right: 5px; */
    padding-bottom: 7vh;
}
.bottom-div{
    display: flex;
    height: 7vh;
    width: 100vw;
    position: fixed;
    bottom: 0%;
    z-index: 1;
    background-color: var(--bg-color);
}
.theme-btn{
    width: 10%;
    height: 43%;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 6px;
    padding-right: 6px; */
    padding: 0;
    /* border: 1px solid var(--border-color); */
    background-color: var(--text-secondary);
}
.theme-btn svg{
    fill: var(--bg-color);
}
.theme-btn svg:last-child{
    display: none;
}
body.dark .theme-btn svg:first-child{
    display: none;
}
body.dark .theme-btn svg:last-child{
    display: block;
}
.left, .center, .right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 33%;
    height: 100%;
}
.left svg{
    height: 2.1rem;
    width: 2.1rem;
    color: var(--text-primary);
}
.center svg{
    height: 2.1rem;
    width: 2.1rem;
    color: var(--text-primary);
}
.right svg{
    height: 2.1rem;
    width: 2.1rem;
    color: var(--text-primary);
}
.left button{
    width: 4.1rem;
    border-radius: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    background-color: var(--bg-color);
}
.center button{
    width: 4.1rem;
    border-radius: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    background-color: var(--bg-color);
}
.right button{
    width: 4.1rem;
    border-radius: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    background-color: var(--bg-color);
}
.dept-dropdown{
    padding: 8px;
    border-radius: 7px;
    border: none;
    outline: none;
    width: 25%;
    height: 40%;
}